/*My First css*/
body{
    font-family:'Times New Roman', Times, serif;
    background-color: rgb(227, 229, 175);
    text-align: center;
}

img{
    border: 10px solid burlywood;
    text-align: center;
}

h1{
    border: 5px dotted burlywood;
}

blockquote{
    font-family: monospace;
    font-size: 3rem;
    font-style: oblique;
    text-align: center;
}

cite{
    font-size: 2rem;
}

.bigbold {
    font-weight: bold;
    font-size: 1.3rem;
}

ul a:link {
    font-weight:bold;
    text-decoration:underline;
    color: chartreuse;
    font-size: 2rem;
}

a:visited {
    color:bisque;
    font-weight:normal;
}

a:hover{
    color: orange;
    text-decoration: underline;
    background-color: blueviolet;
}

a.harvard{
    color:maroon;
}

/*Group selectors: instead of writing repetitive code*/
h2, h3, .bigbold, a:link {
    color:orange;

}